src
test
tsconfig.json
tsconfig.module.json
tslint.json
.idea
.github
.nvmrc
.prettierignore
.travis.yml
.vscode
.whitesource
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
*.lock
.prettierrc.js
.eslintrc.js
renovate.json
CHANGELOG.md
jest.config.js