name: Publish
on:
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      - name: Use NodeJs 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Install Dependencies
        run: yarn semantic-release
